@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2{
    font-family: "Iceland", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "Unna",sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}